---
import Layout from "../layouts/Layout.astro";
import Content from "../components/Content.astro";
---

<Layout title="About Jakob">
  <div class="w-full flex-shrink-0 flex-col lg:w-auto">
    <div class="max-w-reading mx-2 lg:mx-0">
      <h1 class="font-title mb-3 text-5xl font-bold">Colophon</h1>
      <Content>
        <p>
          Code for codedrift &amp; code samples posted to codedrift are licensed
          under the <a
            href="https://github.com/jakobo/codedrift/blob/main/LICENSE-posts?ref=codedrift.com"
            >MIT license</a
          >. Non-code content unless otherwise noted is licensed under the <a
            href="http://creativecommons.org/licenses/by-nc/4.0/?ref=codedrift.com"
            >Creative Commons Attribution-NonCommercial 4.0 International</a
          >.
        </p><hr /><p>
          This is the second revision of the codedrift project, and the 15th
          revision of Jakob&apos;s personal site. In the last iteration, I
          wanted to play with a chunky interface while simultaneously learning
          tailwind. In this revision, I sought to take elements of codedrift I
          felt mattered in the design aesthetic and strip as much as I could
          away.
        </p><p>
          The guiding star for this design was a leather notebook where I take
          physical notes. As a lover of mechanical keyboards, digital notetaking
          would result in a horrible cacophony of clicks and clacks.
        </p><p>Plus, I like pens.</p><p>
          Most copy is set in <a
            href="https://fonts.google.com/specimen/Open+Sans?ref=codedrift.com"
            >Open Sans Regular, SemiBold, and ExtraBold</a
          > with <a
            href="https://fonts.google.com/specimen/Roboto+Mono?ref=codedrift.com"
            >Roboto Mono Light</a
          > for monospaced fonts. Titles are set in <a
            href="https://fonts.google.com/specimen/Work+Sans?ref=codedrift.com"
            >Work Sans Light</a
          >. The <a href="https://tailwindcss.com/?ref=codedrift.com"
            >Tailwind CSS</a
          > stone pallete drives the primary color scheme, with Emerald and Amber
          providing primary and secondary colors respectively.
        </p><p>
          This began with <a
            href="https://codedrift.com/thunked/use-github-as-a-cms?ref=codedrift.com"
            >GitHub as a CMS</a
          >, switched to Ghost, and now sits on Astro, because I'm tired of
          building.
        </p><p>We are only limited by the limits we place.</p><h2
          id="previous-versions"
        >
          Previous Versions
        </h2><p>
          As best I could, I've retrieved old screenshots from the Wayback
          Machine, before this site was ever called codedrift. From
          "mechanicalruins.net" to Felocity (.org, then .com), to my own name,
          then to codedrift. I'll be restoring these as I find time.
        </p>
      </Content>
    </div>
  </div>
</Layout>
