---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Talks and Speaking">
  <div class="w-full flex-shrink-0 flex-col lg:w-auto">
    <div class="max-w-reading mx-2 lg:mx-0">
      <h1 class="mb-3 font-title text-5xl font-bold">Elsewhere on the Web</h1>
      <article class="prose dark:prose-invert">
        <p>
          I'm on a few other websites, in case one website wasn't enough. There's a lot of internet out there; looking forward to meeting you digitally.
        </p>
      <h2>Active Profiles</h2>
      <ul>
        <li><a href="https://www.twitch.tv/thecodedrift?ref=codedrift.com">Twitch</a> as theCodeDrift</li>
        <li><a href="https://bsky.app/profile/codedrift.social?ref=codedrift.com">Bluesky</a> as @codedrift.social</li>
        <li><a href="https://github.com/thecodedrift?ref=codedrift.com">GitHub</a> as thecodedrift</li>
        <li><a href="https://www.linkedin.com/in/jakobheuser/?ref=codedrift.com">LinkedIn</a> as Jakob Heuser</li>
      </ul>

      <h2>Inactive Profiles</h2>
      <ul>
        <li><a href="https://www.reddit.com/user/Jakobox?ref=codedrift.com">Reddit</a> as Jakobox</li>
        <li><a href="https://www.threads.net/@codedrift.social?ref=codedrift.com">Threads</a> &amp; <a href="https://www.instagram.com/codedrift.social/">Instagram</a></li>
        <li><a href="https://hachyderm.io/@jakobo?ref=codedrift.com">Mastodon @ Hacyderm</a> as @jakobo@hachyderm.io</li>
        <li><a href="https://x.com/jakobo?ref=codedrift.com">X / Twitter</a> as @jakobo</li>
      </ul>
    </div>
  </div>
</Layout>
