---
import Layout from "../layouts/Layout.astro";
import Content from "../components/Content.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Talks and Speaking">
  <div class="w-full flex-shrink-0 flex-col lg:w-auto">
    <div class="max-w-reading mx-2 lg:mx-0">
      <h1 class="font-title mb-3 text-3xl">Talks and Speaking</h1>
      <Content>
        <p>
          If you came here looking for slides and GitHub links, you're in the
          right place! Below is a growing archive of the talks and podcasts I've
          done, plus slides and examples. Have feedback on something you saw or
          heard? You can drop me a note with your thoughts on <a
            href="https://codedrift.com/social/"
            rel="noreferrer">one of the many social networks</a
          > I'm on. Or just reach out directly to <code
            >jakob[at]this-domain</code
          >.
        </p><ul>
          <li>
            Instrumenting MCP - All Things Web 2025<br /><a
              href="/talks/instrumenting-mcp.pdf"
              rel="noreferrer">slides</a
            >
          </li><li>
            WebAssembly is Cool! (finally!) - QCon 2024<br /><a
              href="/talks/webassembly-is-cool-finally.pdf"
              rel="noreferrer">slides</a
            > | <a
              href="https://github.com/jakobo/qcon2024?ref=codedrift.com"
              rel="noreferrer">examples</a
            >
          </li><li>
            The Challenges of Learning &amp; Development - I AM CEO Podcast<br
            /><a
              href="https://iamceo.co/list/jakob-heuser/?ref=codedrift.com"
              rel="noreferrer">listen</a
            >
          </li><li>
            Where Passion Meets Productivity - EMI Podcast<br /><a
              href="https://engineeringmanagementinstitute.org/tag/jakob-heuser/?ref=codedrift.com"
              rel="noreferrer">listen</a
            >
          </li><li>
            Happiness at Work - M3 Podcast<br /><a
              href="https://happymelly.libsyn.com/how-can-managers-help-employees-advance-at-work?ref=codedrift.com"
              rel="noreferrer">listen</a
            >
          </li><li>
            LinkedIn's JavaScript API: Soup to Nuts - Cloudstock<br /><a
              href="/talks/linkedins-javascript-api-soup-to-nuts.pdf"
              rel="noreferrer">slides</a
            >
          </li><li>
            A Pragmatic Guide to Web Components - Open Web Camp 6 2014<br /><a
              href="https://www.youtube.com/watch?v=vecxrtX2XTs&list=PLndbWGuLoHeY9nidxd3YcIKNRugG8fmp-&index=7&ref=codedrift.com"
              rel="noreferrer">video</a
            > | <a
              href="https://github.com/jakobo/owc6?ref=codedrift.com"
              rel="noreferrer">slides</a
            > | <a
              href="https://github.com/jakobo/owc6?ref=codedrift.com"
              rel="noreferrer">examples</a
            >
          </li><li>
            Scalability Boot Camp - SXSW 2008<br /><a
              href="/talks/scalability-boot-camp.pdf"
              rel="noreferrer">slides</a
            > | <a
              href="https://blog.birdhouse.org/2008/03/10/scalability-boot-camp/?ref=codedrift.com"
              rel="noreferrer">external writeup</a
            > [<a
              href="https://archive.is/xfuiC?ref=codedrift.com"
              rel="noreferrer">1</a
            >]
          </li>
        </ul><h1 id="microphone-optional">Microphone Optional</h1><p>
          I enjoy speaking, despite being a massive introvert. After over 20
          years of building, I remember every time I sat in the audience and had
          my perceptions of technology challenged. I love that feeling, and I
          love giving that joy to others.
        </p><p>
          As a note, I have a policy of joining a conference as a speaker only
          when there is a commitment to diversity.
        </p>
      </Content>
    </div>
  </div>
</Layout>
